<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
   <mapper namespace="org.choongang.students.mapper.StuinfoMapper" />
        <resultMap id="studentMap" type="org.choongang.students.entities.Stuinfo">
            <result column="USER_NO" property="userNo"/>
            <result column="GRADE" property="grade"/>
            <result column="GENDER" property="gender"/>
            <result column="SEMESTER" property="semester"/>
            <result column="DEPT" property="dept"/>
            <result column="STU_CREDIT" property="stuCreadit"/>
            <result column="AD_YR" property="adYr"/>
            <result column="E_MAIL" property="eMail"/>
            <result column="TEL" property="tel"/>
        </resultMap>

<select id="get" resultMap="stuinfoMap">
SELECT * FROM STUDENT_INFO
<where>
    <if test="grade != null">
        GRADE = #{grade}
    </if>
</where>
</select>

<insert id="register">
<selectKey keyProperty="userNo" order="BEFORE" resultType="long">
    SELECT SEQ_MEMBER.NEXTVAL FROM DUAL
</selectKey>
INSERT INTO STUDENT_INFO (USER_NO, GRADE, GENDER, SEMESTER, DEPT, STU_CREDIT, AD_YR, E_MAIL, TEL)
VALUES( SEQ_MEMBER.NEXTVAL,#{grade},#{gender},#{semester},#{dept},#{stuCreadit},#{adYr},#{eMail},#{tel});
</insert>

<update id="modify">
UPDATE STUDENT_INFO
<set>
    <if test="subName!=null">
        SUB_NAME=#{subName},
    </if>
    <if test="professor!=null">
        PROFESSOR=#{professor},
    </if>
    <if test="startTime!=null">
        START_TIME=#{startTime},
    </if>
    <if test="endTime!=null">
        END_TIME=#{endTime},
    </if>
    <if test="subType!=null">
        SUB_TYPE=#{subType},
    </if>
    <if test="subCredit!=null">
        SUB_CREDIT=#{subCredit},
    </if>
    <if test="subHour!=null">
        SUB_HOUR=#{subHour},
    </if>
</set>
WHERE SUB_CODE=#{subCode}
</update>

<delete>
</delete>

    </mapper>


