<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
   <mapper namespace="org.choongang.students.mapper.StuInfoMapper"/>
        <resultMap id="studentMap" type="org.choongang.students.entities.Stuinfo">
            <result column="">
        </resultMap>

    </mapper>
